<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form method="post" class="login-form">
          <section class="basic-info">
            <input type="email" name="login" placeholder="email address" tabindex="1" autofocus required>
            <input type="password" name="password" placeholder="password" tabindex="2" required>
            <input type="hidden" name="redirect" value="{{ .Redirect }}">
            {{ .CSRFField }}
            <input type="submit" tabindex="4" value="Login">
          </section>
          <p class="message">
            <input tabindex="3" class="regular-checkbox" type="checkbox" id="ephemeral" name="ephemeral">
            <label  for="ephemeral">This is a public computer</label>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
