<!doctype html>
<html>
  <head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="light.min.css">
  </head>
  <body>
    <form method="post">
      <fieldset>
        <legend>Log out?</legend>
        <input type="submit" tabindex="1" value="Log me out">
      </fieldset>
    </form>
  </body>
</html>
