<!doctype html>
<html>
  <head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form method="post" action="/logout" class="login-form">
          <section class="basic-info">
            <input type="submit" tabindex="4" value="Log me out">
          </section>
        </form>
      </div>
    </div>
  </body>
</html>
